<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Mission To Mars Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>.container { border: 3.5px solid darkgray; } .row wide {background-color: #ECF7F8;} img {margin-bottom: 3px;} #weather {border: 2px solid darkcyan;} table {border: 1px solid black;} #inline {display: inline;} .col-md-6 {margin-left: -10px;} .filled {text-align: center; background-color: #ECF7F8; margin: 0; padding: 0;}</style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                    <p>
                        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a>
                    </p>
            </div>
        </div>

<!-- *************** ROW 1 ***************** -->
        
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Latest Mars News
                </h3>
                    <h5><b>
                        {{  scraped_data.news_title  }}
                    </b></h5>
                        <p>
                            {{ scraped_data.news_p }}
                        </p>

            </div>

        </div>
 <!-- -----------New Row---------- -->       
        
        <div class="row">
            <div class="col-md-7">
                <h3>Featured Mars Image</h3>
                <img src="{{ scraped_data.featured_img_url }}" alt="featured img" width="480" height="450">

            </div>
            
            <div class="col-md-5">
                <div id="weather">
                <h5><b>Current Mars Weather:</b></h5>
                    <p>
                        {{ scraped_data.mars_weather }}
                    </p>
                </div>
                <br>
                <h5><b>Mars Facts</b></h5>
                
                    {{ scraped_data.table_html }}
                

            </div>
        
        </div>
 
 <!-- End row----------------------New Row -->
        <div class="row wide">
            <div class="col-md-12 filled">
                <h3>
                    Mars Hemispheres
                </h3>
                <h6>
                    Enhanced Imagery
                </h6>
            </div>
        </div>    
  <!--End row ----------------New Row -->          
    <div class="row" id="inline">        
            <div class="col-md-6 filled"> 
                    

                <div class="card">
                        <img src="{{ scraped_data.hemisphere_img_urls.img_urls[0] }}" class="card-img-top" alt="img1" width="250" height= "250">
                        <div class="card-body">
                            <h5 class="card-title">{{ scraped_data.hemisphere_img_urls.title[0] }}</h5>
                        </div>
                
                        <img src="{{ scraped_data.hemisphere_img_urls.img_urls[1] }}" class="card-img-top" alt="img2" width="250" height= "250">
                        <div class="card-body">
                            <h5 class="card-title">{{ scraped_data.hemisphere_img_urls.title[1] }}</h5>
                        </div>
                </div>


            </div>
                
            <div class="col-md-6 filled"> 
                    

                <div class="card">
                        <img src="{{ scraped_data.hemisphere_img_urls.img_urls[2] }}" class="card-img-top" alt="img3" width="250" height= "250">
                        <div class="card-body">
                            <h5 class="card-title">{{ scraped_data.hemisphere_img_urls.title[2] }}</h5>
                        </div>
                
                        <img src="{{ scraped_data.hemisphere_img_urls.img_urls[3] }}" class="card-img-top" alt="img4" width="250" height= "250">
                        <div class="card-body">
                            <h5 class="card-title">{{ scraped_data.hemisphere_img_urls.title[3] }}</h5>
                        </div>
                </div>


            </div>
    </div>          
                
                <!-- {% for url in in hemis_img_urls%}
                     {{.title}} {{.img_url}}
                        {% endfor %} -->

                    
 <!-- --End row----------------- -->
    

    </div> <!--    End container    -->
</body>
</html>